<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/header :: head-source">
    <title id="pageTitle">Aukcja</title>
</head>
<body>
<div th:include="fragments/header :: navbar"></div>
<div class="d-flex flex-column align-items-center">
    <div class="d-flex">
        <div>
            <img class="p-2" th:src="@{/images/game.jpg}" alt="Avatar" style="width: 200px;"/>
        </div>
        <div class="flex-column">
            <div class="mt-5">
                <h2 th:text="${auction.getGame().getName()}"></h2>
            </div>
            <div th:utext="'Cena wyjściowa: ' + ${auction.getGame().getPrice()} + 'zł'"></div>
            <div th:text="'Czas do zakończenia licytacji: ' + ${closingTime}"></div>
        </div>
        <div>
            <div class="mt-5 pl-3" th:switch="${followPermission}">
                <div th:case="'owner'">
                    <a th:if="!${auction.isFinished()}" th:href="'/auction/' + ${auction.getId()} + '/close'" class="btn btn-primary">Zamknij aukcję</a>
                    <p th:unless="!${auction.isFinished()}" class="text-danger">Aukcja zakończona</p>
                </div>
                <a th:href="'/auction/' + ${auction.getId()} + '/follow' " th:case="'visitor'" class="btn btn-primary">Follow</a>
                <a th:href="'/auction/' + ${auction.getId()} + '/unfollow'" th:case="'follower'"
                   class="btn btn-primary">Unfollow</a>
            </div>
        </div>
    </div>
    <div>
        <form th:if="${followPermission != 'owner'}" th:action="'/auction/' + ${auction.getId()}" th:object="${newBid}" method="post">
            <h5 class="pl-3">Złóż ofertę:</h5>
            <div class="form-group p-3">
                <p th:if="${#fields.hasErrors('offer')}" th:errors="*{offer}" style="color: indianred;"></p>
                <div class="d-flex">
                    <input type="text" class="form-control mr-3" th:field="*{offer}" id="offer" placeholder="Cena:"
                           required="true" autofocus="autofocus"/>
                    <input type="hidden" th:value="${auction.getId()}" th:field="*{auctionId}" name="auctionId"/>
                    <button type="submit" class="btn btn-primary">Wyślij</button>
                </div>
            </div>
        </form>
    </div>
    <div>
        <div class="d-flex p-3 bg-success border rounded" th:if="${largestBid != null}">
            <div th:text="${largestBid.getOffer()} + ' zł '" style="font-weight: bold" class="pr-1"></div>
            <div th:text="': ' + ${largestBid.getUser().getLogin().toUpperCase()} + ' : ' + ${largestBid.getRequestTime()}"></div>
        </div>
        <div th:each="game: ${bids}">
            <div th:include="auction/bid-card :: bidCard(${game})"></div>
        </div>
    </div>


</div>
<div th:include="fragments/footer :: footer"></div>
</body>
</html>