<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
</head>
<body>
<div th:fragment="footer">
    <script src="webjars/jquery/3.3.1-1/jquery.min.js"></script>
    <script src="webjars/popper.js/1.14.1/umd/popper.min.js"></script>
    <script src="webjars/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <footer class="footer">
        <div class="container">
                <span sec:authorize="isAuthenticated()">
                | Użytkownik: <span sec:authentication="name"></span> |
                Rola: <span sec:authentication="principal.authorities"></span>
            </span>
        </div>
    </footer>
</div>
</body>
</html>